@mixin box-sizing{
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
      -ms-box-sizing:border-box;
       -o-box-sizing:border-box;
          box-sizing:border-box;
}

@mixin clearfix{
  @if $isLteIE7Support{
    *zoom:1;
  }
  &:after{
    content: ".";
    display:block;
    clear:both;
    height:0;
    visibility:hidden;
  }
}

@mixin ieTableSupport{
  @if $isLteIE7Support{
      *behavior: url(display-table.min.htc);
  }
}