@charset "utf-8";

//imports
@import "./_var";
@import "./_lib";

$pageWidth: 1024px;
$tabWidth: 300px;
$mainWidth: $pageWidth - $tabWidth;

$baseTextColor: #f7f7f8;

body{
  background:url("../images/bg.jpg") no-repeat;
  background-position:center center;
  background-attachment: fixed;
  background-size: cover;
}
#logout{
  position: absolute;
  top:0;
  right:0;
  width:100px;
  background:rgba(13, 25, 35, 0.9);
  a{
    display: block;
    color:$baseTextColor;
    text-align: center;
    text-decoration: none;
  }
}
.contents{
  width:$pageWidth;
  margin:20px auto 0 auto;
  @include clearfix;
  .tabs{
    width:$tabWidth;
    float:left;
    .playerInfo{
      //background: #3d464d;
      background: rgba(61, 70, 77, 0.9);
      color: $baseTextColor;
      padding:15px;
      @include box-sizing;
      a{
        color: $baseTextColor;
        text-decoration: none;
      }
      .tbl{
        display:table;
        width:100%;
      }
      .thumb{
        width:90px;
        display: table-cell;
        vertical-align: top;
      }//.thumb
      .desc{
        display: table-cell;
        vertical-align: top;
        //width:$tabWidth - 90px;
        max-width: 1px;
        overflow: hidden;
        text-overflow: ellipsis;
        a{
          font-size:18px;
          display: block;
        }
      }//.desc
    }//.playerInfo

    #friends{
      margin:15px 0;

      header{
        //background: rgba(38, 50, 60, 0.6);
        background: rgba(13, 25, 35, 0.9);
        color:#8db1d7;
        padding:5px 10px;
        @include clearfix;
        @include box-sizing;
        h1{
          width:100px;
          float:left;
          font-weight: bold;
        }
        #onlines{
          width:$tabWidth - 120px;
          float:left;
          text-align:right;
        }
      }//header
      .friendsListBox{
        #friendsList{
          overflow-x:hidden;
          overflow-y:scroll;
          li{
            border-bottom: 1px #12171c solid;
            .player{
              display: table;
              width:100%;
              background:rgba(13, 24, 35, 0.7);
              .thumb{
                width:70px;
                display:table-cell;
                vertical-align: middle;
                padding:5px;
                @include box-sizing;
                img{
                  vertical-align: middle;
                }
              }
              .desc{
                display:tabe-cell;
                width:230px;
                overflow: hidden;
                text-overflow: ellipsis;
                //word-break: break-all;
                vertical-align: top;
                padding:3px 10px;
                @include box-sizing;
                color:#62859d * 1.3;
              }
            }//.player
            &:hover{
              cursor:pointer;
              background:rgba(255, 255, 255, 0.4);
            }
          }//li
        }//#friendsList
      }//.friendsListBox
    }//#friends
  }//.tabs
  #main{
    width:$mainWidth - 10px;
    margin:0 0 0 10px;
    float:left;
    background:rgba(13, 24, 35, 0.7);
    header{
      background: rgba(13, 25, 35, 0.9);
      color:#8db1d7;
      padding:5px 10px;
      h1{
        font-weight: bold;
      }
    }//header
    #lobby{
      padding:20px;
      @include box-sizing;
      ul#players{
        @include clearfix;
        li{
          height:155px;
          width:126px;
          overflow:hidden;
          text-overflow: ellipsis;
          color:#fff;
          float:left;
          text-align:center;
          padding:20px 21px;
          @include box-sizing;
          background: #27313b;
          border:2px #212a31 solid;
          margin:0 10px 0 0;
          &:last-child{
            margin:0;
          }
          &:hover{
            cursor:pointer;
            background:#27313b * 1.2;
          }
        }
      }//#players
      #lobbyChat{
        border:2px #121920 solid;
        background:#27313b;
        margin:20px 0;
        @include box-sizing;
        #view{
          color:#fff;
          padding:10px;
          height:200px;
          @include box-sizing;
          overflow-x:hidden;
          overflow-y:scroll;
          a{
            color: $baseTextColor;
          }
          p{
            &.notify{
              color:#0f0;
            }
            &.error{
              color:#f00;
            }
            span{
              color:#bbb;
            }
          }
        }//#view
        #lobbyChatInput{
          input{
            width:99%;
          }
        }//#lobbyChatInput
      }//#lobbyChat
      #buttonControls{
        .ctl{
          @include clearfix;
          button{
            display:block;
            float:left;
            margin:5px 0 0 0;
            @include btnBlue;
            &.disabled{
              @include btnDisabled;
            }
          }
          .desc{
            float:left;
            width: 674 - 200px;
            padding:0 0 0 20px;
            @include box-sizing;
            color:#789dbb;
          }
        }//.ctl
        .go{
          text-align: right;
          button{
            @include btnGreen;
          }
        }
      }//#buttonControls
    }//#lobby
  }//#main
}//.contents

//ユーザークリック時のメニュー
#userMenu, #lobbyMenu{
  width:200px;
  position:absolute;
  top:0;
  left:0;
  background:#243343;
  color:#85a1ba;
  border:2px #466c94 solid;
  display:none;
  li{
    cursor:pointer;
    padding:5px 10px;
    border-bottom:1px #293c50 solid;
    @include box-sizing;
    &:last-child{
      border-bottom:none;
    }
    &:hover{
      background:#243343 * 1.2;
    }
    a{
      color:#85a1ba;
      text-decoration:none;
    }
  }
}//#userMenu, #lobbyMenu

//マップ選択画面
#mapSelector{
  width:100%;
  height:100%;
  position: absolute;
  z-index:9001;
  top:0;
  left:0;
  display:none;
  background: rgba(0, 0, 0, 0.3);
  .box{
    display: table;
    width:100%;
    height:100%;
    margin:0 auto;

    .window{
      display:table-cell;
      width:100%;
      height:100%;
      vertical-align: middle;
      .inner{
        background: #202a34;
        //width:$mainWidth;
        width:50%;
        margin:0 auto;
        @include box-sizing;
        header{
          background: rgba(13, 25, 35, 0.9);
          color:#8db1d7;
          padding:5px 10px;
          font-weight: bold;
        }//header
        #mapList{
          padding:10px;
          @include box-sizing;
          ul{
            @include clearfix;
            li{
              width:20%;
              cursor:pointer;
              float:left;
              .mapBlock{
                padding:0 0 5px 5px;
                @include box-sizing;
                border:2px #1f262e solid;
              }
              figure{
                width:100%;
                img{
                  vertical-align: middle;
                  width:100%;
                  height:auto;
                }
                figurecaption{
                  overflow:hidden;
                  position: relative;
                  width:100%;
                  display: block;
                  padding:5px 5px 20px 5px;
                  @include box-sizing;
                  color:#d0d2d5;
                  background: #2f363c; /* Old browsers */
                  background: -moz-linear-gradient(left,  #2f363c 0%, #353d44 51%, #3d454d 100%); /* FF3.6+ */
                  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2f363c), color-stop(51%,#353d44), color-stop(100%,#3d454d)); /* Chrome,Safari4+ */
                  background: -webkit-linear-gradient(left,  #2f363c 0%,#353d44 51%,#3d454d 100%); /* Chrome10+,Safari5.1+ */
                  background: -o-linear-gradient(left,  #2f363c 0%,#353d44 51%,#3d454d 100%); /* Opera 11.10+ */
                  background: -ms-linear-gradient(left,  #2f363c 0%,#353d44 51%,#3d454d 100%); /* IE10+ */
                  background: linear-gradient(to right,  #2f363c 0%,#353d44 51%,#3d454d 100%); /* W3C */
                  .check{
                    position: absolute;
                    bottom:0;
                    right:0;
                    @include CheckBox;
                  }//.check
                }//figurecaption
                &.selected{
                  figurecaption{
                    background: #55687f; /* Old browsers */
                    background: -moz-linear-gradient(left, #55687f 0%, #3c5270 51%, #32445d 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#55687f), color-stop(51%,#3c5270), color-stop(100%,#32445d)); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(left, #55687f 0%,#3c5270 51%,#32445d 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(left, #55687f 0%,#3c5270 51%,#32445d 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(left, #55687f 0%,#3c5270 51%,#32445d 100%); /* IE10+ */
                    background: linear-gradient(to right, #55687f 0%,#3c5270 51%,#32445d 100%); /* W3C */
                  }
                  &:hover{
                    figurecaption{
                        background: #55687f * 1.2; /* Old browsers */
                        background: -moz-linear-gradient(left, #55687f * 1.2 0%, #3c5270 * 1.2 51%, #32445d * 1.2 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#55687f * 1.2), color-stop(51%,#3c5270 * 1.2), color-stop(100%,#32445d * 1.2)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(left, #55687f * 1.2 0%,#3c5270 * 1.2 51%,#32445d * 1.2 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(left, #55687f * 1.2 0%,#3c5270 * 1.2 51%,#32445d * 1.2 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(left, #55687f * 1.2 0%,#3c5270 * 1.2 51%,#32445d * 1.2 100%); /* IE10+ */
                        background: linear-gradient(to right, #55687f * 1.2 0%,#3c5270 * 1.2 51%,#32445d * 1.2 100%); /* W3C */
                    }
                  }//:hover
                }
                &:hover{
                  figurecaption{
                      background: #2f363c * 1.2; /* Old browsers */
                      background: -moz-linear-gradient(left, #2f363c * 1.2 0%, #353d44 * 1.2 51%, #3d454d * 1.2 100%); /* FF3.6+ */
                      background: -webkit-gradient(linear, left top, right top, color-stop(0%, #2f363c * 1.2), color-stop(51%, #353d44 * 1.2), color-stop(100%, #3d454d * 1.2)); /* Chrome,Safari4+ */
                      background: -webkit-linear-gradient(left, #2f363c * 1.2 0%, #353d44 * 1.2 51%, #3d454d * 1.2 100%); /* Chrome10+,Safari5.1+ */
                      background: -o-linear-gradient(left, #2f363c * 1.2 0%, #353d44 * 1.2 51%, #3d454d * 1.2 100%); /* Opera 11.10+ */
                      background: -ms-linear-gradient(left, #2f363c * 1.2 0%, #353d44 * 1.2 51%, #3d454d * 1.2 100%); /* IE10+ */
                      background: linear-gradient(to right, #2f363c * 1.2 0%, #353d44 * 1.2 51%, #3d454d * 1.2 100%); /* W3C */
                  }
                }//:hover
              }//figure
            }//li
          }//ul
        }//#mapList
        footer{
          text-align: right;
          padding:10px;
          button#mapOK{
            @include btnGreen;
          }
        }
      }//.inner
    }//.window
  }//.box
}//#mapSelector