!!! 5
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(http-equiv="Content-Style-Type" content="text/css")
    meta(http-equiv="Content-Script-Type" content="text/javascript")
    meta(name="description" content="")
    meta(name="keywords" content="")
    title CS:GO Match Finder | Lobby

    link(rel="stylesheet" href="/assets/stylesheets/reset.css")
    link(rel="stylesheet" href="/assets/stylesheets/style.css")
  body
    .contents
      .tabs

        .playerInfo
        
        ////.playerInfo
      ////.tabs
      .main

      ////.main
    ////.contents